* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
  background: black;
  color: white;
}

/* ===================== */ /* LOADING */ /* ===================== */
#loadingScreen {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 15px;

  background: radial-gradient(
    circle at center,
    #4a0000 0%,
    #1a0000 40%,
    #000000 100%
  );

  z-index: 9999;
}
.logos {
  display: flex;
  align-items: center;
  gap: 60px;
}
.logos img {
  width: 220px;
  opacity: 0;
}

@font-face {
  font-family: "Benguiat";
  src: url("./ITC-Benguiat-Std.ttf");
}

.st-title {
  font-family: "Benguiat", serif;
  text-transform: uppercase;

  font-size: 200px;
  text-align: center;

  color: #c40000;

  letter-spacing: 0.25em;
  line-height: 1;

  position: relative;
  margin: 10px 0;

  text-shadow:
    0 0 2px rgba(255, 0, 0, 0.5),
    0 0 10px rgba(255, 0, 0, 0.6),
    0 0 25px rgba(120, 0, 0, 0.9);
}

.st-title span {
  color: transparent;

  background: repeating-linear-gradient(
    180deg,
    #2a7fff 0px,
    #2a6eff 3px,
    #00132b 3px,
    #000e2b 6px
  );

  -webkit-background-clip: text;

  background-clip: text;
  filter: contrast(1.2);

  text-shadow:
    0 0 5px rgba(0, 81, 255, 0.6),
    0 0 20px rgba(0, 89, 255, 0.9);
}

/* Linhas decorativas 
.st-title::before,
.st-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 160px;
  height: 8px;

  background: linear-gradient(90deg, #ff0000, #7a0000);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}*/

/* esquerda (2 linhas) 
.st-title::before {
  left: -200px;

  box-shadow:
    0 -70px 0 0 rgba(255, 0, 0, 0.8),
    0 70px 0 0 rgba(255, 0, 0, 0.8);
}*/

/* direita (2 linhas) 
.st-title::after {
  right: -200px;

  box-shadow:
    0 -70px 0 0 rgba(255, 0, 0, 0.8),
    0 70px 0 0 rgba(255, 0, 0, 0.8);
}*/

.subtitle {
  font-family: "Benguiat", serif;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 0.3em;
  color: #b30000;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}

.loadingBar {
  margin-top: 10px;
  width: 450px;
  height: 18px;
  background: #1a1a1a;
  border-radius: 50px;
  overflow: hidden;
}
.loadingFill {
  width: 0%;
  height: 100%;

  background: linear-gradient(90deg, #ff0000, #ff7a00, #ff0000);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.9);
  transition: width 0.2s ease;
}

/* ===================== */
/* CHARACTER SCREEN */
/* ===================== */
#backgroundPreview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    transition: .4s;

    z-index: 0;
}

#characterScreen {
  display: none;

  position: relative;

  width: 100vw;
  height: 100vh;

  background: url("assets/fundo/fundo_selecao/fundo 01.png");

  background-size: cover;
  background-position: center;

  overflow: auto;
}

/* Fundo dinâmico */

#characterScreen h1 {
  position: relative;

  z-index: 2;

  text-align: center;

  padding-top: 30px;
  font-family: "Orbitron", sans-serif;

  font-size: 3rem;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: rgb(2, 0, 0);

  text-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000;
}

/* GRID */

.characters {
  position: relative;

  z-index: 2;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 25px;

  padding: 40px 80px;
}

/* CARD */

.character-card {
  background: rgba(0, 0, 0, 0.35);

  backdrop-filter: blur(8px);

  border-radius: 25px;

  border: 2px solid rgba(255, 255, 255, 0.08);

  cursor: pointer;

  transition: 0.35s;

  overflow: hidden;

  text-align: center;
  /*  outline:3px solid lime; */
}

.character-card img {
  width: 100%;

  height: clamp(150px, 20vw, 250px);

  object-fit: cover;
}



.character-card span {
  display: block;

  padding: 15px;

  font-family: "Orbitron", sans-serif;

  font-size: 1rem;

  font-weight: 700;

  letter-spacing: 2px;

  color: white;

  text-transform: uppercase;
}

.character-card:hover {
  transform: translateY(-8px) scale(1.04);

  box-shadow:
    0 0 25px red,
    0 0 50px red;
  border-color: #ff2d2d;
}

/* Selecionado */

.character-card.selected {
  transform: scale(1.08);

  border: 3px solid #00ff0d;

  box-shadow:
    0 0 25px #0fe670,
    0 0 60px rgb(0, 255, 85);
}

/* BOTÃO */

#selectBtn {
  display: none;

  position: fixed;

  bottom: 25px;

  left: 50%;

  transform: translateX(-50%);

  z-index: 1000;

  padding: 18px 45px;

  border: 2px solid #ff2d2d;

  border-radius: 15px;

  background: linear-gradient(135deg, #2b0000, #7a0000, #2b0000);

  color: white;

  font-size: 1.2rem;

  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;

  letter-spacing: 2px;

  cursor: pointer;

  text-transform: uppercase;

  text-shadow:
    0 0 10px red,
    0 0 20px red;

  box-shadow:
    0 0 15px rgba(255, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 0, 0, 0.3);

  animation: pulseButton 2s infinite;

  transition: 0.3s;
}

#selectBtn:hover {
  transform: translateX(-50%) scale(1.08);

  box-shadow:
    0 0 25px red,
    0 0 50px red,
    0 0 80px red;

  border-color: #ff6666;
}

#selectBtn:active {
  transform: translateX(-50%) scale(0.95);
}

@keyframes pulseButton {
  0% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  }

  50% {
    box-shadow:
      0 0 30px rgba(255, 0, 0, 0.9),
      0 0 60px rgba(255, 0, 0, 0.4);
  }

  100% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  }
}

/* RESPONSIVO */

@media (max-width: 1200px) {
  .characters {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===================== */
/* GAME SCREEN */
/* ===================== */

#gameScreen {
  display: none;

  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

 /* background: url("assets/fundo/fundo_personagem/Eleven_fundo.png");*/

  background-size: cover;
  background-position: center;
}

#gameScreen::after {
  content: "";

  position: absolute;

  inset: 0;

  pointer-events: none;

  background: radial-gradient(
    circle,
    transparent 40%,
    rgba(0, 0, 0, 0.35) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );

  z-index: 2;
}

#gameOverlay {
  position: absolute;

  inset: 0;

  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 0.06),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.55)
  );

  backdrop-filter: brightness(0.9);

  z-index: 0;
}

#particlesBackground {
  position: absolute;

  inset: 0;

  overflow: hidden;

  pointer-events: none;

  z-index: 999;
}

.spore {
  position: absolute;

  border-radius: 50%;

  background: #ffffff;

  opacity: 0.18;

  filter: blur(2px);

  box-shadow: 0 0 8px white;
}

/* Névoa do Mundo Invertido 

#fogLayer {
  position: absolute;

  inset: 0;

  background: url("fog.png") repeat;

  background-size: cover;

  opacity: 0.18;

  mix-blend-mode: screen;

  pointer-events: none;

  animation: fogMove 45s linear infinite;

  z-index: 1;
}

@keyframes fogMove {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 900px 0;
  }
}
*/

#energyContainer {
  position: absolute;

  top: 40px;

  left: 50%;

  transform: translateX(-50%);

  z-index: 10;
}

#energyText {
  font-family: "Orbitron", sans-serif;

  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: white;

  text-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #861102;
}

#centerGame {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 10;
}

#clickObject {
  width: 350px;

  cursor: pointer;
}

#characterArea {
  position: absolute;

  right: 80px;

  top: 140px;

  text-align: center;

  z-index: 10;
}

#characterArea h2 {
  margin-bottom: 15px;

  font-size: 2rem;
}

#characterImage {
  width: 400px;
}

#leftMenu {
  position: absolute;

  left: 40px;

  top: 300px;

  display: flex;

  flex-direction: column;

  gap: 20px;

  z-index: 10;
}

#leftMenu button {
  width: 80px;

  height: 80px;

  font-size: 2rem;

  cursor: pointer;
}

#progressArea {
  position: absolute;

  bottom: 70px;

  left: 50%;

  transform: translateX(-50%);

  text-align: center;

  z-index: 10;
}

#progressArea h2 {
  margin-top: 12px;

  font-family: "Orbitron", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: white;

  text-shadow:
    0 0 5px #ff0000,
    0 0 12px #ff0000;
}

#progressBar {
  width: 700px;
  height: 35px;

  background: #151515;

  /* Ajuste visual para alinhar a barra com o texto */
  margin-left: 80px; /* move para a direita */

  border: 3px solid #b30000;
  border-radius: 30px;

  overflow: hidden;

  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.4),
    inset 0 0 8px rgba(0, 0, 0, 0.8);
}

#progressFill {
  width: 0%;
  height: 100%;

  border-radius: 30px;

  background: linear-gradient(90deg, #ff0000, #ff4d00, #ff9900);

  box-shadow:
    0 0 15px #ff0000,
    0 0 25px #ff6600;

  transition: width 0.4s ease;
}

/* Shop Button*/
#shopBtn {
  position: absolute;
  right: 80px;
  bottom: 80px;
  z-index: 10;

  width: 180px;
  height: 80px;

  cursor: pointer;

  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;

  background: linear-gradient(180deg, #7a0000, #450000);
  border: 3px solid #ff2d2d;
  border-radius: 15px;

  box-shadow:
    0 0 10px #ff0000,
    inset 0 0 8px rgba(255, 255, 255, 0.15);

  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

#shopBtn:hover {
  background: linear-gradient(180deg, #b00000, #650000);

  transform: scale(1.05);

  box-shadow:
    0 0 20px #ff0000,
    0 0 40px rgba(255, 0, 0, 0.6);
}

#shopBtn:active {
  transform: scale(0.96);
}

#shopBtn img {
  width: 32px;
  height: 32px;
  margin-right: 10px;

  vertical-align: middle;
}

#shopBtn::before {
  content: "";
  width: 32px;
  height: 32px;

  background: url("assets/icone/loja.png") no-repeat center / contain;
}

#clickEffects {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 999;
}

#progressBar {
  width: 500px;
  height: 30px;

  background: #333;

  border: 2px solid white;
}

#progressFill {
  width: 0%;

  height: 100%;

  background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00);
}

/* Partículas */
.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #00ff88;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff88;
  pointer-events: none;
}

/* stats */
#statsPanel {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 700px;
  max-width: 90%;

  background: rgba(15, 15, 25, 0.95);

  border: 2px solid #b30000;

  border-radius: 20px;

  padding: 25px;

  box-shadow:
    0 0 20px rgba(255, 0, 0, 0.6),
    0 0 50px rgba(255, 0, 0, 0.2);

  backdrop-filter: blur(10px);

  z-index: 9999;
}

.statsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.statsHeader h2 {
  display: flex;
  align-items: center;
  gap: 12px;

  margin: 0;

  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2px;

  color: white;
  text-transform: uppercase;

  text-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000;
}

#closeStats {
  background: transparent;

  border: none;

  color: #ff6666;

  font-size: 28px;

  cursor: pointer;

  transition: 0.2s;
}

#closeStats:hover {
  color: white;

  transform: scale(1.2);
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.statCard {
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 0, 0, 0.25);

  border-radius: 15px;

  padding: 18px;

  transition: 0.25s;
}

.statCard:hover {
  border-color: #ff2d2d;

  box-shadow: 0 0 12px rgba(255, 0, 0, 0.5);
}

.statCard span {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;

  color: #bbbbbb;
}

.statIconTitle {
  width: 34px;
  height: 34px;
  object-fit: contain;
  flex-shrink: 0;
}

.statIcon {
  width: 26px;
  height: 26px;
  object-fit: contain;
  flex-shrink: 0;
}

.statCard strong {
  display: block;

  margin-top: 8px;

  font-family: "Orbitron", sans-serif;

  font-size: 2rem;

  color: white;

  text-shadow: 0 0 8px #ff0000;
}

.hidden {
  display: none;
}

/* Shop Panel */
#shopPanel {
  position: fixed;

  top: 50%;

  right: 40px;

  transform: translateY(-50%);

  width: 600px;
  max-height: 85vh;

  overflow-y: auto;

  background:
    linear-gradient(rgba(15, 0, 0, 0.95), rgba(0, 0, 0, 0.96)),
    url("assets/8.png");

  background-size: cover;
  background-position: center;

  backdrop-filter: blur(15px);

  border: 2px solid #ff2424;

  outline: 1px solid #4d0000;

  border-radius: 18px;

  padding: 25px;

  box-shadow:
    0 0 20px #ff0000,
    inset 0 0 20px rgba(255, 0, 0, 0.15);

  z-index: 9999;
}

#shopPanel::-webkit-scrollbar {
  width: 0;
}

#shopPanel {
  scrollbar-width: none;
}

#shopPanel h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;

  font-size: 2.3rem;

  color: white;
  white-space: nowrap;

  letter-spacing: 2px;

  text-shadow: 0 0 10px red;
}

/*
#shopPanel button {
  width: 100%;

  margin-bottom: 12px;

  padding: 15px;

  background: #111;

  color: white;

  border: 1px solid #5a0000;

  border-radius: 12px;

  cursor: pointer;

  font-size: 18px;

  text-align: left;

  transition: 0.25s;
}*/

#shopPanel button:hover {
  background: #2a0000;

  border-color: #ff3030;

  transform: translateX(8px);

  box-shadow: 0 0 15px red;
}

#closeShop {
  width: 100%;

  margin-top: 15px;
  padding: 16px;

  background: #2b0000;

  color: #ff5c5c;

  border: 1px solid red;

  border-radius: 12px;
  font-family: "Bebas Neue", sans-serif;

  font-size: 1.8rem;

  letter-spacing: 2px;
  font-weight: bold;

  text-align: center;

  transition: 0.3s;
}

#closeShop:hover {
  background: #4a0000;
  box-shadow: 0 0 20px red;
}

.shopItem:hover {
  transform: scale(1.03);

  border-color: #ff2d2d;

  box-shadow: 0 0 20px red;
}

.shopItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  margin-bottom: 12px;
  padding: 18px;

  background: #111;
  border: 1px solid #5a0000;
  border-radius: 12px;

  cursor: pointer;
  color: white;

  transition: 0.25s;
}

.shopIcon {
  width: 70px;
  height: 70px;

  object-fit: cover;

  border-radius: 8px;

  border: 1px solid #6b0000;
}

.shopInfo {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.shopInfo h3 {
  font-family: "Bebas Neue", sans-serif;

  white-space: nowrap;
  font-size: 1.5rem;

  letter-spacing: 1px;
}

.shopInfo span {
  font-family: "Orbitron", sans-serif;

  font-size: 0.8rem;

  color: #bbbbbb;
}

.shopPrice {
  min-width: 70px;

  text-align: center;

  padding: 8px 10px;

  border-radius: 10px;

  background: rgba(255, 0, 0, 0.15);

  border: 1px solid #ff4444;

  font-family: "Orbitron", sans-serif;

  font-size: 22px;

  color: #ff6666;
}

/* Item do Inventário */
.itemInventario {
  display: flex;

  align-items: center;

  gap: 12px;

  margin-bottom: 12px;

  padding: 10px;

  border-radius: 12px;

  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 0, 0, 0.15);

  transition: 0.25s;
}

.itemInventario:hover {
  border-color: #ff2d2d;

  transform: translateX(6px);

  box-shadow: 0 0 12px rgba(255, 0, 0, 0.35);
}

.itemInventario img {
  width: 38px;

  height: 38px;

  object-fit: contain;

  flex-shrink: 0;
}

.itemInventario span {
  font-family: "Orbitron", sans-serif;

  font-size: 0.95rem;

  color: white;
}

.itemInventario strong {
  color: #00d4ff;

  font-size: 1.05rem;
}

#inventoryPanel hr {
  border: none;

  height: 2px;

  margin: 18px 0;

  background: linear-gradient(90deg, transparent, #ff0000, transparent);
}

#energiaClique {
  margin-top: 18px;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.08);
  border: 1px solid rgba(255, 0, 0, 0.2);
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#energiaClique img {
  width: 38px;
  height: 38px;
  object-fit: contain;
  flex-shrink: 0;
}

#energiaClique strong {
  color: #00d4ff;
  font-size: 1.05rem;
}

#inventoryPanel {
  position: fixed;

  top: 50%;
  left: 230px;

  transform: translateY(-50%);

  width: 270px;

  padding: 20px;

  background: rgba(15, 15, 25, 0.92);

  border: 2px solid #b30000;

  border-radius: 20px;

  backdrop-filter: blur(10px);

  box-shadow:
    inset 0 0 12px rgba(255, 255, 255, 0.03),
    0 0 18px rgba(255, 0, 0, 0.45),
    0 0 45px rgba(255, 0, 0, 0.18);
}

#inventoryPanel h2 {
  margin-bottom: 18px;

  font-family: "Bebas Neue", sans-serif;

  font-size: 2rem;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: white;

  text-shadow: 0 0 10px #ff0000;
}

/* Menu lateral */
#leftMenu {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 18px;

  z-index: 100;
}

/* Botões do menu */
#leftMenu button {
  width: 72px;
  height: 72px;

  font-size: 2rem;

  cursor: pointer;

  color: white;
  background: linear-gradient(180deg, #7a0000, #450000);

  border: 3px solid #ff2d2d;
  border-radius: 15px;

  box-shadow:
    0 0 10px #ff0000,
    inset 0 0 8px rgba(255, 255, 255, 0.15);

  transition: all 0.2s ease;
}

#leftMenu button:hover {
  transform: scale(1.08);

  background: linear-gradient(180deg, #b00000, #650000);

  box-shadow:
    0 0 20px #ff0000,
    0 0 40px rgba(255, 0, 0, 0.5);
}

#leftMenu button:active {
  transform: scale(0.95);
}

#leftMenu button img {
  width: 40px;
  height: 40px;

  pointer-events: none;
  user-select: none;
}

#leftMenu button:hover img {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* Tela de Vitória */

#victoryScreen {
  display: none;

  position: fixed;
  inset: 0;

  background: #000;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 99999;
}

#victoryImage {
  position: absolute;

  inset: 0;

  width: 100%;

  height: 100%;

  object-fit: cover;

  opacity: 0;

  z-index: 1;
}

#victoryStats {
  position: relative;

  z-index: 5;

  width: 560px;

  max-width: 90%;

  margin-top: 0;

  padding: 30px;

  background: rgba(10, 10, 15, 0.75);

  backdrop-filter: blur(10px);

  border: 2px solid #b30000;

  border-radius: 18px;
}

#victoryScreen::before {
  content: "";

  position: absolute;

  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.55)
  );

  z-index: 2;
}

#victoryStats h1 {
  margin-bottom: 20px;

  font-size: 2.8rem;

  color: #ff3d3d;

  letter-spacing: 3px;

  text-shadow: 0 0 15px red;
}

.victoryLine {
  width: 100%;

  height: 2px;

  margin: 20px 0;

  background: linear-gradient(to right, transparent, #ff2d2d, transparent);
}

.victoryItem {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 12px 0;

  font-size: 1.1rem;
}

.victoryItem span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #bbbbbb;
}

.victoryItem strong {
  color: white;

  font-size: 1.25rem;
}

#victoryMessage {
  margin-top: 25px;

  line-height: 1.8;

  color: #dddddd;

  font-size: 1rem;
}

#restartBtn {
  margin-top: 30px;

  width: 100%;

  padding: 16px;

  border: none;

  border-radius: 12px;

  cursor: pointer;

  background: linear-gradient(#8d0000, #4d0000);

  color: white;

  font-family: "Bebas Neue", sans-serif;

  font-size: 2rem;

  letter-spacing: 2px;

  transition: 0.25s;
}

#restartBtn:hover {
  transform: scale(1.03);

  box-shadow: 0 0 20px red;
}

#victoryTitle {
  position: absolute;

  top: 2%;

  left: 50%;

  transform: translateX(-50%);

  font-family: "Benguiat", serif;

  font-size: 5.5rem;

  letter-spacing: 8px;

  color: rgb(0, 0, 0);

  text-shadow:
    0 0 15px red,
    0 0 35px red;

  opacity: 0;

  white-space: nowrap; /* impede quebrar linha */

  z-index: 20;
}

#victorySubtitle {
  position: absolute;

  top: 85%;

  left: 50%;

  transform: translateX(-50%);

  width: 900px;
  max-width: 90%;

  text-align: center;

  font-family: "Orbitron", sans-serif;

  font-size: 1.5rem;

  color: #ffffff;

  line-height: 1.8;

  opacity: 0;

  z-index: 20;
}

#victoryStats h2 {
  font-family: "Benguiat", serif;

  font-size: 2.2rem;

  color: #ff4040;

  letter-spacing: 3px;

  margin-bottom: 15px;

  text-shadow: 0 0 12px red;
}

.victoryItem span img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  flex-shrink: 0;
}

/* Defeat Screen */
#defeatScreen {
  display: none;
  position: fixed;
  inset: 0;
  background: #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
}

#defeatImage {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0;

  z-index: 1;
}

#defeatScreen::before {
  content: "";

  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.92),
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.65)
  );

  z-index: 2;
}

#defeatTitle {
  position: absolute;

  top: 2%;
  left: 50%;

  transform: translateX(-50%);

  font-family: "Benguiat", serif;

  font-size: 5.5rem;

  letter-spacing: 8px;

  color: #000;

  text-shadow:
    0 0 15px red,
    0 0 35px red;

  opacity: 0;

  white-space: nowrap; /* impede quebrar linha */

  z-index: 20;
}

#defeatSubtitle {
  position: absolute;

  top: 85%;
  left: 50%;

  transform: translateX(-50%);

  width: 900px;
  max-width: 90%;

  text-align: center;

  font-family: "Orbitron", sans-serif;

  font-size: 1.5rem;

  color: white;

  line-height: 1.8;

  opacity: 0;

  z-index: 20;
}

#defeatStats {
  position: relative;

  z-index: 5;

  width: 560px;

  max-width: 90%;

  margin-top: 0;

  padding: 30px;

  background: rgba(10, 10, 15, 0.75);

  backdrop-filter: blur(10px);

  border: 2px solid #b30000;

  border-radius: 18px;
}

#defeatStats h1 {
  margin-bottom: 20px;

  font-size: 2.8rem;

  color: #ff3d3d;

  letter-spacing: 3px;

  text-shadow: 0 0 15px red;
}

#defeatStats h2 {
  font-family: "Benguiat", serif;

  font-size: 2.2rem;

  color: #ff4040;

  letter-spacing: 3px;

  margin-bottom: 15px;

  text-shadow: 0 0 12px red;
}

.defeatLine {
  width: 100%;

  height: 2px;

  margin: 20px 0;

  background: linear-gradient(to right, transparent, #ff2d2d, transparent);
}

.defeatItem {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 12px 0;

  font-size: 1.1rem;
}

.defeatItem span {
  color: #bbbbbb;
}

.defeatItem strong {
  color: white;

  font-size: 1.25rem;
}

#defeatMessage {
  margin-top: 25px;

  line-height: 1.8;

  color: #dddddd;

  font-size: 1rem;
}

#restartDefeatBtn {
  margin-top: 30px;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(#8d0000, #4d0000);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: 0.25s;
}

#restartDefeatBtn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px red;
}

/* Timer */
#timerPanel {
  position: fixed;
  top: 7px;
  left: 21%;
  transform: translateX(-50%);
  width: 360px;
  padding: 12px;
  border: 2px solid #b30000;
  border-radius: 15px;
  background: rgba(15, 15, 20, 0.92);
  backdrop-filter: blur(8px);
  text-align: center;
  box-shadow: 0 0 18px rgba(255, 0, 0, 0.35);
  z-index: 100;
}

#timerPanel span {
  display: block;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
  color: #ff6a6a;
  letter-spacing: 2px;
}

#timerText {
  display: block;
  margin-top: 5px;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: white;
}
